@value phoneBreak from '../../../../../../../../styles/shared/breakpoints.scss';

.valuesContainer {
  margin-bottom: var(--l-04);
  display: flex;
  justify-content: center;
  background-color: var(--black);
  padding: var(--c-06) var(--c-09);
  max-width: 472px;
  margin: 0 auto var(--l-04) auto;
  border-radius: 14px;
  
  @media phoneBreak {
    padding: var(--c-06) var(--c-02);
  }
}

.valueContainer {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 2px solid var(--yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  position: relative;
  
  @media phoneBreak {
    margin: 0 10px;
  }
}

.measurementValueText {
  color: var(--yellow);
  text-align: center;
  line-height: 1;
  font-weight: 700;
  font-size: var(--txt-md);
}

.unitContainer {
  width: 27px;
  height: 27px;
  background-color: var(--yellow);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.unitTypeText {
  color: var(--black);
  font-size: var(--txt-xsm);
  line-height: 1;
  text-align: center;
  font-weight: 500;
}