@import '@styles/shared/breakpoints.scss';

.btnBase {
  text-decoration: none;
  padding: var(--c-05) var(--c-09);
  display: inline-block;
  border-radius: 100px;
  font-weight: 700;
  font-size: var(--txt-base);
  line-height: 1;
  background-color: var(--yellow);
  color: var(--black);
  border: none;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--black);
  }

  @include breakpoint(phoneBreak) {
    font-size: var(--txt-xsm);
    padding: var(--c-04) var(--c-07);
  }
}

.flexContainer {
  display: flex;
  justify-content: center;
}

.whiteTxt {
  color: var(--white);
}

.yellowTxt {
  color: var(--yellow);
}

.underlineDotted {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.txtCentered {
  text-align: center;
}
