@value mainContainerBreak from '../../../styles/shared/breakpoints.scss';
@value phoneBreak from '../../../styles/shared/breakpoints.scss';

.wrapper {
  margin: 0 auto var(--l-04) auto;
  width: 800px;
  padding-top: var(--l-02);
  
  @media mainContainerBreak {
    padding-top: var(--l-02);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
  @media phoneBreak {
    grid-template-rows: auto 1fr;
    margin: 0 auto;
    align-self: flex-end;
  }
}

.headline {
  color: var(--yellow);
  text-align: left;
  margin-bottom: 56px;
  padding-left: var(--c-05);

  @media mainContainerBreak {
    text-align: center;
  }
  
  @media phoneBreak {
    font-size: 8vw;
    margin-bottom: var(--l-02);
    padding-right: var(--c-05);
  }
}

.contentContainer {
  background-color: #2F404E;
  padding: 70px 60px;
  border-radius: 45px;
  max-width: 760px;
  margin: 0 20px;
  position: relative;

  @media mainContainerBreak {
    width: 100%;
  }

  @media phoneBreak {
    padding: var(--l-02) 20px var(--l-02) 20px;
    margin: 0 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.prevBtn {
  width: 60px;
  height: 60px;
  background-color: #2F404E;
  position: absolute;
  top: 0;
  right: calc(100% + var(--c-08));
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  padding: 0;
  
  path {
    fill: var(--black);
  }
  
  @media screen and (max-width: 1030px) {
    right: calc(100% + var(--c-06));
  }

  @media mainContainerBreak {
    display: none;
  }
}