@import '@styles/shared/breakpoints.scss';

.container {
  border-radius: 12px;
  padding: var(--c-06) var(--c-03);
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  min-height: 220px;
  background-color: var(--light-steel-blue);

  @include breakpoint(mainContainerBreak) {
    min-height: unset;
  }

  a {
    text-decoration: none;
  }

  // This is a bit of a hack to make
  // the grid items have a 1:1 aspect ratio
  &::after {
    grid-row: 1/-1;
    grid-column: 1/-1;
    content: '';
    display: inline-block;
    width: 1px;
    height: 0;
    padding-bottom: 86.36%;
  }
}

.headline {
  color: var(--black);
  position: absolute;
  top: var(--c-05);

  @include breakpoint(mainContainerBreak) {
    top: var(--c-06);
  }

  @include breakpoint(phoneBreak) {
    position: static;
    top: unset;
    font-size: 3.4vw;
  }
}

.icon {
  margin: 0 auto;
  display: block;
}

.iconContainer {
  grid-column: 1/-1;
  grid-row: 1/-1;

  @include breakpoint(phoneBreak) {
    width: 11vw;
  }
}
