@import '@styles/shared/breakpoints.scss';

.header {
  padding: 0;
  margin: 0 0 var(--l-01) 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint(phoneBreak) {
    padding: 0 0 var(--l-01) 0;
    margin: 0 0 var(--l-01) 0;
    border-bottom: 2px solid var(--black);
  }
}
