.btn {
  width: 30px;
  height: auto;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
  border: none;
  display: inline-block;
  position: absolute;
  right: 40px;
  top: 30px;
}