@import '@styles/shared/breakpoints.scss';

.btn {
  width: 30px;
  height: auto;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 0;
  border: none;

  @include breakpoint(phoneBreak) {
    position: static;
    display: block;
    width: 20px;
  }
}
