@import '@styles/shared/breakpoints.scss';

.appContainer {
  margin: 0 auto;
  min-height: calc(100vh - var(--nav-height));
  height: 100%;

  @include breakpoint(phoneBreak) {
    display: flex;
  }
}
