@import '@styles/shared/breakpoints.scss';

.container {
  display: flex;
  justify-content: center;
  padding: var(--c-07) var(--c-07);
  width: 100%;
  top: 0;

  @include breakpoint(phoneBreak) {
    justify-content: flex-start;
    padding: var(--c-05);
  }
}
